
body {
  background: #161516;
  color: #fff;
}

.container {
    width: 1300px;
    margin: 0 auto;
  }
  
  
  .main {
    background-color: #161516;
    color: #fff;
  }
  .header {
    margin-bottom: 80 px;
  }
  .menu {
    display: flex none;
 
   
  }
  .cart__title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    line-height: 38px;
    font-size: 31px;
    width: 90vw;

  }
  .cart__item-wrap{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 50px 50px;

  }
  .cart__backButton{
    margin-left: 70px;
    margin-top: 56px;
  }
  .cart__price-wrap{
    display: flex;
    margin-right: 290px;
  }
  .cart__delete-button{
    margin-left: 10px;
    
  }
  .cart__item-title{
    font-size: 17px;
  }
  .cart__price{
    font-size: 21px;
  }
  .cart__button{
    height: 42px;
    width: 200px;
    background: #D58C51;

  }
.cart__footer{
  display: flex;
  justify-content: space-between;
  width: 90%;}
