.container {
    width: 1300px;
    margin: 0 auto;
  }
  
  .header{
    display: flex;
  }
  .basketArea{
    margin-left: 524px;

  }
  .menu__cart:hover{
    color: #D58C51
  }

  .main {
    background-color: #161516;
    color: #fff;
  }
  .header {
    margin-bottom: 80 px;
    margin-top: 54px;
  }
  .cart__price{
    margin-left: 30px;
    font-size: 17px;

  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    height: calc(100vh - 180 px);
    overflow-x: auto;
   
  }
  .card{
    width: 312px;
    height: 552px;
    border: 1px solid #D58C51;
  }
  .card__title {
    font-size: 17px;
    margin-left: 21px;
  }
  .card__description {
    font-size: 14px;
    margin-left: 21px;
  }
  .card__price {
    font-size: 17px;
    margin-left: 21px;
  }
  .card__preview {
    margin-top: 43px;
    margin-left: 21px;
    margin-bottom: 21px;
  }
  .card:hover svg{
    fill:#D58C51;
    
  }